################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/JapaneseTraining/.vs
/JapaneseTraining/JapaneseTraining/obj
/JapaneseTraining/JapaneseTraining/bin/Debug/net8.0-windows
